<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Local Variables</title>
</head>
<body>
	<!-- Render greeting and myNameIs variables in the view -->
	<h1><%= greeting %></h1>
	<h2><%= myNameIs %></h2>
</body>
</html>